html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.15em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/** Header **/
.company {
  background-color: black;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  padding-left: 0.5rem;
}

.company img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  vertical-align: middle;
  display: inline-block;
}

/** Main Banner **/
.main-banner {
  height: 25rem;
  background-image: url(../moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}

.headline {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  color: white;
}

.headline h4 {
  font-size: 1rem;
  font-weight: bold;
}

.headline h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
}

/** Nav **/
nav {
  background-color: firebrick;
}

nav ul {
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0.75rem 0px;
  display: flex;
}

li {
  display: list-item;
  color: white;
}

/** Products **/
.products {
  margin: 3rem 0 0;
  display: flex;
  justify-content: space-between;
  color: white;
}

.product {
  width: 30%;
}

.product-image {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 2rem 0px;
}

.product-image img {
  max-width: 8rem;
}

.description {
  display: block;
  background-color: black;
  text-align: center;
  padding: 0.5rem;
}

/** Info **/
.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
  margin-bottom: 4rem
}

.info {
  width: 35%;
}

.title {
  display: block;
  background-color: black;
  padding: 1rem 2rem;
  color: white;
}

/** Footer **/
footer {
  text-align: left;
  color: white;
  background-color: black;
  padding: 5rem 0;
  margin-top: 4rem;
}

/** Media Queries **/
@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
    line-height: 1.4rem;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }

  nav ul {
    display: none;
  }

  .product {
    width: 47%;
  }
}

@media only screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}
